<img src="https://electronaut.info/wp-content/uploads/2017/05/Tubescape_jupyter2.jpg">

<h1><font color = b30000>TUBE DATA MATCHER for uTRACER FILES</font></h1><h5>Anode current for a sweep of grid voltages  when anode voltage = constant</h5>

# STEP 1 — Import and process tube data, build dataframe.

In [1]:
from electronaut_uTracer_Import import *
df.head()

Please enter the path to the folder containing the uTracer files: /Users/rrmc/github_rrMacKinnon/Electrona_uTracer/SampleTubeData_1_to_196

What type of tubes are these? 5749

— — — — —

Data from 167 tubes of type 5749 was successfully read.
A dataframe containing all 167 tubes was successfully created.

,tube_ID,tube_type,anode_voltage,Bias_2,Bias_6,Bias_10,Bias_14,Bias_18,Bias_22,Bias_26,Bias_30,Bias_34,Bias_38,Bias_42,Bias_46,Bias_50
0,1,5749,325,99.278,65.383,44.717,34.082,26.669,20.931,16.492,12.992,10.291,8.23,6.669,5.495,4.626
1,10,5749,325,84.662,55.752,37.5,27.666,20.873,15.84,12.088,9.304,7.261,5.807,4.747,3.945,3.344
2,100,5749,325,76.506,50.319,33.695,25.027,19.052,14.603,11.283,8.775,6.954,5.655,4.765,4.118,3.619
3,102,5749,325,92.106,59.906,39.752,29.517,22.626,17.543,13.745,10.894,8.787,7.228,6.08,5.204,4.575
4,103,5749,325,69.639,45.449,30.772,22.843,17.624,13.782,10.864,8.615,6.916,5.657,4.754,4.092,3.619

In [15]:
len(df)

167

##### TODO:  INSERT PLOT OF ALL TUBES


# STEP 3: Show the statistics of the tube data set

In [2]:
# For some reason, .describe is requiring the .astype(float) in order to show the stats.
df_stats = df.astype(float).describe()
df_stats.loc[:, 'tube_type'] = df_stats.loc[:, 'tube_type'].astype(int)
df_stats.loc[:, 'tube_ID'] = df_stats.loc[:, 'tube_ID'].astype(int)
# df_stats.loc[:, 'tube_ID'] = df_stats.loc[:, 'tube_ID'].astype(str)
df_stats

,tube_ID,tube_type,anode_voltage,Bias_2,Bias_6,Bias_10,Bias_14,Bias_18,Bias_22,Bias_26,Bias_30,Bias_34,Bias_38,Bias_42,Bias_46,Bias_50
count,167,167,167.0,167.000000,167.000000,167.000000,167.000000,167.000000,167.000000,167.000000,167.000000,167.000000,167.000000,167.000000,167.000000,167.000000
mean,94,5749,325.0,85.854024,54.600138,35.936389,26.606778,20.321790,15.648988,12.173521,9.577371,7.657347,6.248994,5.208695,4.410192,3.798886
std,57,0,0.0,10.252616,5.708263,3.792364,2.876220,2.387349,2.053135,1.794487,1.576286,1.382130,1.206177,1.052825,0.929768,0.840940
min,1,5749,325.0,48.494000,30.962000,19.730000,14.837000,11.473000,8.866000,6.827000,5.260000,4.091000,3.235000,2.613000,2.153000,1.833000
25%,43,5749,325.0,80.143500,51.841500,34.041500,25.167500,19.052000,14.428000,11.082500,8.645000,6.855500,5.501500,4.584500,3.869500,3.319500
50%,94,5749,325.0,87.154000,55.362000,36.408000,26.777000,20.534000,15.759000,12.180000,9.602000,7.679000,6.162000,5.096000,4.343000,3.712000
75%,143,5749,325.0,91.902000,58.625500,38.192000,28.252000,21.554500,16.662500,13.070000,10.400000,8.427000,6.923000,5.801500,4.957500,4.302500
max,196,5749,325.0,107.892000,65.654000,46.996000,36.666000,30.080000,25.292000,21.460000,18.384000,15.898000,13.867000,12.198000,10.760000,9.616000

##### TODO:  INSERT PLOT(S) OF STATISTICS

# STEP 4: Calculate the differences between all tubes

In [3]:
def build_difference_df(df, df_stats):
       
    # Make a list of all the columns in the dataframe
    cols = list(df.columns)
    
    # Make a list of just the bias columns
    bias_list = []
    for i in cols:
        if i.startswith('Bias_') == True:
            bias_list.append(i)
    
    # BMake an empty list to hold the calculated values, to be used to build the difference dataframe
    diff_squared_list = []
    
    # Iterate through the index of tubes in the master dataframe to select a reference tube
    for each_ref_tube in df.index:
        
        # Get the next reference tube data, as a series
        ref_tube = df.iloc[each_ref_tube]
        ref_tube_ID = ref_tube.tube_ID

        # Iterate through the index of tubes in the master dataframe to select a match tube
        for each_match_tube in df.index:
            
            # Get the next tube data to be compared, as a series
            match_tube = df.iloc[each_match_tube]
            match_tube_ID = match_tube.tube_ID
            
            # Dictionary container to hold the difference variables for each tube
            temp_dict = {}
            
            # Compute the squares of the differences in each current measurement
            error_sum = 0
            for bias in enumerate(bias_list):
                mismatch = ((float(match_tube.loc[bias[1]]) - float(ref_tube.loc[bias[1]]))**2)
                temp_dict[bias[1]] = mismatch
                error_sum = error_sum + mismatch

            # Add other relevant key/value pairs to the dictionary  
            temp_dict['ref_tube_ID'] = ref_tube_ID
            temp_dict['match_tube_ID'] = match_tube_ID
            temp_dict['error_sum'] = error_sum

            # Append the tube's calculated values to the diff_squared_list
            diff_squared_list.append(temp_dict)
    
    # Make an ordered list for the columns of the new difference dataframe
    new_cols_to_add = ['ref_tube_ID', 'match_tube_ID', 'error_sum']
    df_dif_cols = new_cols_to_add + bias_list
    df_dif = pd.DataFrame(diff_squared_list, columns = df_dif_cols)
    return df_dif
    
    
df_dif = build_difference_df(df, df_stats)
print("len(df_dif) = ", len(df_dif))
df_dif.head()

len(df_dif) =  27889

,ref_tube_ID,match_tube_ID,error_sum,Bias_2,Bias_6,Bias_10,Bias_14,Bias_18,Bias_22,Bias_26,Bias_30,Bias_34,Bias_38,Bias_42,Bias_46,Bias_50
0,1,1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,1,10,514.934156,213.627456,92.756161,52.085089,41.165056,33.593616,25.918281,19.395216,13.601344,9.180900,5.870929,3.694084,2.402500,1.643524
2,1,100,1116.246220,518.563984,226.924096,121.484484,81.993025,58.018689,40.043584,27.133681,17.783089,11.135569,6.630625,3.625216,1.896129,1.014049
3,1,102,170.397792,51.437584,29.997529,24.651225,20.839225,16.345849,11.478544,7.546009,4.401604,2.262016,1.004004,0.346921,0.084681,0.002601
4,1,103,1805.026199,878.470321,397.364356,194.463025,126.315121,81.812025,51.108201,31.674384,19.158129,11.390625,6.620329,3.667225,1.968409,1.014049

# Find the best matches for a particular tube_ID

In [6]:
def find_best_set_for_chosen_tube_ID(tube_to_match, tube_set_size):
    tube_to_match = str(tube_to_match)
    
    # Create a new dataframe showing only tube_set_size number of nearest matches to the chosen tube_to_match
    df_tube_set = df_dif[(df_dif.ref_tube_ID == tube_to_match)].sort_values('error_sum').head(tube_set_size)
    
    return df_tube_set

tube_to_match = 43
tube_set_size = 16
df_tube_set = find_best_set_for_chosen_tube_ID(tube_to_match, tube_set_size)
df_tube_set.head(tube_set_size)

,ref_tube_ID,match_tube_ID,error_sum,Bias_2,Bias_6,Bias_10,Bias_14,Bias_18,Bias_22,Bias_26,Bias_30,Bias_34,Bias_38,Bias_42,Bias_46,Bias_50
19152,43,43,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
19068,43,132,2.561821,0.633616,0.152100,0.022201,0.013225,0.266256,0.436921,0.403225,0.289444,0.188356,0.112896,0.037636,0.005776,0.000169
19078,43,142,3.023941,0.868624,0.152100,0.022201,0.053361,0.410881,0.562500,0.442225,0.269361,0.158404,0.066564,0.011236,0.000400,0.006084
19127,43,2,4.441502,3.108169,0.126736,0.586756,0.133956,0.000016,0.056644,0.106276,0.095481,0.090000,0.068121,0.044521,0.022801,0.002025
19123,43,192,4.741342,0.293764,0.225625,0.000049,0.194481,0.795664,1.062961,0.896809,0.608400,0.351649,0.185761,0.074529,0.030625,0.021025
19041,43,102,5.134316,0.104329,1.408969,0.356409,0.002916,0.256036,0.556516,0.662596,0.614656,0.487204,0.350464,0.193600,0.096100,0.044521
19079,43,143,5.631471,0.093025,0.459684,0.097344,0.056169,0.558009,0.935089,1.008016,0.839056,0.648025,0.452929,0.256036,0.133225,0.094864
19196,43,9,8.722407,1.979649,1.000000,2.411809,1.507984,0.389376,0.045796,0.005625,0.088209,0.197136,0.288369,0.298116,0.267289,0.243049
19043,43,104,9.552011,0.002601,0.000289,0.144400,0.556516,1.292769,1.643524,1.557504,1.315609,1.065024,0.808201,0.555025,0.342225,0.268324
19166,43,58,9.680239,5.880625,1.290496,0.356409,0.063001,0.108241,0.360000,0.470596,0.465124,0.368449,0.230400,0.076729,0.010000,0.000169
19154,43,45,10.255968,3.168400,0.225625,1.361889,1.207801,0.952576,0.837225,0.672400,0.546121,0.467856,0.344569,0.241081,0.149769,0.080656
19161,43,51,10.575759,9.728161,0.034969,0.389376,0.002916,0.026569,0.003721,0.006084,0.044100,0.097344,0.103041,0.077841,0.043681,0.017956
19071,43,136,11.135926,5.244100,0.966289,0.200704,0.000729,0.200704,0.483025,0.641601,0.649636,0.662596,0.627264,0.552049,0.458329,0.448900
19051,43,113,12.742076,8.602489,0.018496,0.139129,0.000400,0.310249,0.685584,0.784996,0.719104,0.620944,0.448900,0.240100,0.103041,0.068644
19120,43,189,12.779480,10.265616,0.004624,0.294849,0.004624,0.160801,0.368449,0.407044,0.324900,0.270400,0.207936,0.164836,0.141376,0.164025
19125,43,195,12.911993,10.595025,0.082944,0.537289,0.066564,0.097344,0.298116,0.352836,0.303601,0.248004,0.184041,0.087025,0.036100,0.023104

In [16]:
tube_set_score = df_tube_set.error_sum.sum()
tube_set_score

123.89025200000005


# STEP 5: Find the best matches for any tube set size
# Build a dataframe of the best matched sets in order

In [12]:
# Make a local version of df_dif that can be butchered
df_dif_copy = df_dif.copy()
print("Pre:", len(df_dif_copy))


def ask_tube_set_size():
    
    # Ask the user to enter the set size
    tube_set_size = input("Please enter the number of tubes per matched set:")
    
    # Build a list of tube names for the tube set size
    tube_sets_columns = ['Tube_' + str(1 + i) for i in range(int(tube_set_size))]    
    
    return tube_set_size, tube_sets_columns 


def find_best_set_for_chosen_tube_ID(df_dif_copy, tube_to_match, tube_set_size, tube_sets_columns):
    tube_to_match = str(tube_to_match)
        
    # Create a new dataframe showing only tube_set_size number of nearest matches to the chosen tube_to_match
    df_tube_set = df_dif_copy[(df_dif_copy.ref_tube_ID == tube_to_match)].sort_values('error_sum').head(int(tube_set_size))
        
    # Create the dictionary of the tubes in the set and the total score of the set
    tube_set_list = list(df_tube_set.match_tube_ID)
    tube_set_dict = dict(zip(tube_sets_columns, tube_set_list))   
    tube_set_score = df_tube_set.error_sum.sum()
    tube_set_dict.update({'tube_set_score':tube_set_score})

    return tube_set_dict


def find_best_set(df_dif_copy, tube_set_size, tube_sets_columns):
    
    # Make an empty list to hold the tube sets and their scores
    tube_sets_and_scores_list = []
    temp_dict = {}
    
    if 'tube_set_score' in tube_sets_columns:
        tube_sets_columns.remove('tube_set_score')

    for i in df_dif_copy.ref_tube_ID.unique():
        temp_dict = find_best_set_for_chosen_tube_ID(df_dif_copy, i, tube_set_size, tube_sets_columns)
        tube_sets_and_scores_list.append(temp_dict)

    # Add 'tube_set_score' column name at the front of the list
    if 'tube_set_score' not in tube_sets_columns: 
        tube_sets_columns.insert(0, 'tube_set_score')    
    
    # Create a dataframe for the tube sets called df_tube_sets 
    df_tube_sets = pd.DataFrame(tube_sets_and_scores_list, columns=tube_sets_columns)
    
    # Sort the tube_set_score column, take the top row (with the lowest score) as a new df 
    df_best_set_temp = df_tube_sets.sort_values('tube_set_score').head(1)
        
    return df_best_set_temp
   

def remove_best_set_from_df_dif(df_dif_copy, df_best_set):
    
    # Make a list of all the tubes in the set, to be removed for the next match sequence
    tubes_to_be_removed = list(df_best_set.iloc[0])
    tubes_to_be_removed.pop(0)
    
    for tube in tubes_to_be_removed:
        df_dif_copy.drop(tube)

    return df_dif_copy
    

   
    
# Make an empty dataframe to hold all the sets and their scores
df_best_tube_sets = pd.DataFrame()

# Get the tube_set_size and the tube_sets_columns from the ask_tube_set_size function
tube_set_size, tube_sets_columns = ask_tube_set_size()

# Get the best tube set from the batch
df_best_set_temp = find_best_set(df_dif_copy, tube_set_size, tube_sets_columns) 

# Append the best tube set to the df_best_tube_sets dataframe
df_best_tube_sets = df_best_tube_sets.append(df_best_set_temp)

# Remove the best tube set from df_dif_copy
tube_delete_list = list(df_best_set_temp.iloc[0])
tube_delete_list.pop(0)
print(tube_delete_list)
df_dif_copy = df_dif_copy[~df_dif_copy.ref_tube_ID.isin(tube_delete_list)]

set_count = 1
print("Tube set #", set_count, "has been found.")




while len(df_dif_copy.ref_tube_ID.unique()) >= int(tube_set_size):
    print(len(df_dif_copy))
    # Get all the rest of the sets from the batch
    df_best_set_temp = find_best_set(df_dif_copy, tube_set_size, tube_sets_columns)
    
    # Append the best tube set to the df_best_tube_sets dataframe
    df_best_tube_sets = df_best_tube_sets.append(df_best_set_temp)

    # Remove the best tube set from df_dif_copy
    tube_delete_list = list(df_best_set_temp.iloc[0])
    tube_delete_list.pop(0)
    df_dif_copy = df_dif_copy[~df_dif_copy.ref_tube_ID.isin(tube_delete_list)]
    set_count += 1
    print("Tube set #", set_count, "has been made, with a score of:", str(df_best_set_temp.tube_set_score.iloc[0]))

Pre: 27889
Please enter the number of tubes per matched set:8
['32', '17', '5', '123', '14', '15', '117', '194']
Tube set # 1 has been found.
26553
Tube set # 2 has been made, with a score of: 12.110799
25217
Tube set # 3 has been made, with a score of: 12.683789
24215
Tube set # 4 has been made, with a score of: 13.911436
22879
Tube set # 5 has been made, with a score of: 16.25949
22211
Tube set # 6 has been made, with a score of: 16.312245
21209
Tube set # 7 has been made, with a score of: 17.483787
20541
Tube set # 8 has been made, with a score of: 17.512196
19873
Tube set # 9 has been made, with a score of: 21.526689
19038
Tube set # 10 has been made, with a score of: 21.743068
18370
Tube set # 11 has been made, with a score of: 22.889185
17702
Tube set # 12 has been made, with a score of: 23.647196
16366
Tube set # 13 has been made, with a score of: 24.391661
15698
Tube set # 14 has been made, with a score of: 25.098747
15531
Tube set # 15 has been made, with a score of: 25.117526
14529
Tube set # 16 has been made, with a score of: 26.695196
13527
Tube set # 17 has been made, with a score of: 28.233181
12692
Tube set # 18 has been made, with a score of: 28.321107
11356
Tube set # 19 has been made, with a score of: 28.712472
10020
Tube set # 20 has been made, with a score of: 31.899613
9686
Tube set # 21 has been made, with a score of: 32.480567
9185
Tube set # 22 has been made, with a score of: 34.646446
8684
Tube set # 23 has been made, with a score of: 38.736488
8016
Tube set # 24 has been made, with a score of: 39.888505
7682
Tube set # 25 has been made, with a score of: 39.923688
7348
Tube set # 26 has been made, with a score of: 43.551168
6680
Tube set # 27 has been made, with a score of: 45.425
6012
Tube set # 28 has been made, with a score of: 50.016274
5344
Tube set # 29 has been made, with a score of: 52.03657
5177
Tube set # 30 has been made, with a score of: 52.18443
4843
Tube set # 31 has been made, with a score of: 53.196219
4342
Tube set # 32 has been made, with a score of: 58.528477
3841
Tube set # 33 has been made, with a score of: 61.838137
3507
Tube set # 34 has been made, with a score of: 83.305539
2672
Tube set # 35 has been made, with a score of: 146.606652
2171
Tube set # 36 has been made, with a score of: 173.072144
2004
Tube set # 37 has been made, with a score of: 235.366558
1670
Tube set # 38 has been made, with a score of: 307.680752

In [11]:
df_best_tube_sets

     tube_set_score Tube_1 Tube_2 Tube_3 Tube_4 Tube_5 Tube_6 Tube_7 Tube_8
103       11.732090     32     17      5    123     14     15    117    194
144       12.110799     84     89    118    122     70     26     66    125
145       12.683789     94     38     13    196     64    123     82     17
24        13.911436    132    142    192    143      2    102     43    104
35        16.259490    149    196     64    109     33    104    146     38
58        16.312245     18    140     53      4     66     26     21     95
116       17.483787     85     82    148     15    117    138     54    123
22        17.512196    135    194    111     79     15    117      5     49
66        21.526689     24      6     20     75     12     18    140     21
69        21.743068     30     47     72    111     10     79    135     49
8         22.889185    113    189    195     88      2    142    132    148
100       23.647196     90     65     81    116     34     67     76    124
70        24.391661     44     70      3    118     89    122    106    150
77        25.098747     63    125     84     70     95     66    122     89
10        25.117526    126     49    115    137    120     99    144     10
1         26.695196    100     98     86    150    141     92     71    106
49        28.233181     25     48     26     36    130     77     89     66
32        28.321107    174    154    180    167    161    184    182    170
29        28.712472    176    181    160    179    173    175    158    162
38        31.899613     39     37     20     75      6     72     24     47
7         32.480567    128    136    102     58    143    104    192     33
11        34.646446    147    133    125    122     63     70    190     84
47        38.736488     80     67     29    116    108    103     76     65
39        39.888505     68    144     10    137    115    120    126     19
33        39.923688     51    195      2    189    113     45    142    132
13        43.551168    164    182    170    172    167    186    151    180
3         45.425000    112    145     50     96     71     81    124     98
35        50.016274     97     35    119    120    115    126     49    107
31        52.036570      9      2    132    195     45    102    142    189
6         52.184430    156    162    173    168    175    151    176    181
15        53.196219     28     58    136    187    128    102    139    143
6         58.528477    165    166    178    184    161    174    154     37
5         61.838137     16     36     77     48     25     52    130     92
9         83.305539     31      7     56    139     60    187      8     28
4        146.606652    155    158    177     62    179    160     56    176
4        173.072144     22     52     34     50     16     65     81     76
7        235.366558     42      1      8      7     31    139     56     60
9        307.680752     87     29     27    108    131     80    103    116

In [10]:
df_best_tube_sets

38

In [14]:
len(df_dif_copy)

1169

In [ ]:
# Make a list of the tubes to be deleted from df_dif_copy
tube_delete_list = list(df_best_tube_sets.iloc[0])
tube_delete_list.pop(0)

# Delete the tubes in the set from df_dif_copy since they're no longer available.
df_dif_copy = df_dif_copy[~df_dif_copy.ref_tube_ID.isin(tube_delete_list)]

# Check to see if the first value of the list is in the result
tube_delete_list[0] in df_dif_copy2.ref_tube_ID

len(df_dif_copy)

In [ ]:
len(df_dif_copy)

In [ ]:
# Make a new dataframe excluding all references to a certain tube
df_dif_copy_deletedstuff = df_dif_copy[(df_dif_copy.ref_tube_ID != '1')].sort_values('error_sum')

In [ ]:
len(df_dif_copy_deletedstuff)

In [ ]:
df_dif_copy_deletedstuff = df_dif_copy_deletedstuff[(df_dif_copy_deletedstuff.ref_tube_ID != df_dif_copy_deletedstuff.match_tube_ID)]

In [ ]:
len(df_dif_copy_deletedstuff)

In [ ]:
# Is it possible to pass a list of tubes to drop using the filter?
df_dif_copy_xyz = df_dif_copy_deletedstuff[(df_dif_copy_deletedstuff.ref_tube_ID == '2')]
delete_list = df_dif_copy_xyz.ref_tube_ID
# df_dif_copy_xyz = df_dif_copy_xyz.drop(delete_list)
df_dif_copy_xyz

In [ ]:


df_dif_copy2 = df_dif_copy.copy()
# for tube in tubes_to_be_removed:
#     print(tube)

# thing = df_dif_copy2[(df_dif_copy2.ref_tube_ID != df_best_set.loc[0, 'Tube_1'])]

# Miscellaneous exeriments with ipywidgets

In [ ]:
import ipywidgets as wg
from ipywidgets import Layout, Box
from IPython.display import display


# Make a list of all the tube_ID names, then build a select box with those values
tube_list = list(df.loc[:, 'tube_ID'])
tube_list.sort(key=int)
tube_ID_select_box = wg.Select(options=tube_list, value=tube_list[0], description='Reference Tube', layout=Layout(width='150px'), disabled=False)

# Make a list of the tubes for the "Matched Tubes" selectMultiple box
matched_list = ['1', '33', '67', '22', '45']
matched_tube_box = wg.SelectMultiple(options=matched_list, layout=Layout(display="flex", flex_flow='column', width='350px'), description="Matched Tubes") 


items = [tube_ID_select_box, matched_tube_box]

box_layout = Layout(display='flex',
                    flex_flow='row',
                    align_items='stretch',
                    border='solid',
                    width='100%')
box = Box(children=items, layout=box_layout)

box


# def respond(sender):
    # pass the chosen Tube_ID to a function that looks up the resulting match list, then fill the match list box
    
    
# display(tube_ID_select_box,matched_tube_box)
# tube_ID_select_box.observe(respond)

# Other Miscellaneous stuff

##### Apply a function to a column
df.Bias_2.max()

In [ ]:
# Applymap is useful for applying a function to all data
# For example, converting all data from floats to ints
# df.loc[2:7, 'Bias_2': 'Bias_50'].applymap(int)

In [ ]:
# List all available magics
% lsmagic

In [ ]:
# Display environmental variables
env_variables = %env
current_path = env_variables.get('PATH')
current_path

In [ ]:
mydict = % env
mydict.keys()

In [ ]:
% env

In [ ]:
# % time x = range(10000)
% timeit x = range(10000)
max(x)