In [2]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.rand(10,3))
df

          0         1         2
0  0.187636  0.668225  0.380053
1  0.176507  0.579954  0.727331
2  0.852462  0.288373  0.356930
3  0.494985  0.602511  0.078404
4  0.612809  0.326801  0.301786
5  0.132506  0.549997  0.495308
6  0.246017  0.977818  0.590076
7  0.758673  0.778818  0.807626
8  0.860790  0.256254  0.799345
9  0.496774  0.282020  0.359821